<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Phil Kaufman</a></h1>
            <p>Test Automation Engineer <br> Agile ISTQB Qualified</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Work</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="twitter.com/philkky" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="instagram.com/philkky" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="github.com/philkky" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="philipkaufman@hotmail.co.uk" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

